body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-image: URL('RPS.png');
    background-size:cover;
}

img {
    height: auto;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.648);
    margin: 100px 400px;
    padding: 0;
    padding-bottom: 10px;
    border: 3px black;
    border-radius: 20px;
}

.scores,
.choice,
.status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 0;
    margin: 30px;
    color: rgb(57, 74, 74);
    font-size: large;
    font-weight: 900;
}

.status {
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
}

.round {
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 0 5px;
    color: lightsteelblue;
    border: 1px solid rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.648);
    border-radius: 8px;

}

.buttons {
    display: inline;
}

button {
    padding: 10px 20px;
    margin: 8px;
    background: lightsteelblue;
    color: azure;
    border: none;
    border-radius: 8px;
}